{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div id="home-page-index-page" class="index-sections">
  {{ content_for_index }}

  <div class="index-page-embeded-video">
    <iframe src="https://player.vimeo.com/video/327238968?autoplay=1&loop=1&autopause=0&background=1" width="640" height="476" frameborder="0"></iframe>
  </div>
</div>