{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}

{% section 'page-landing-eleonore-banner' %}
{% section 'page-landing-eleonore-columns-1' %}
{% section 'page-landing-eleonore-collection' %}
<div class="index-page-embeded-video index-page-embeded-video--little">
    <iframe src="https://player.vimeo.com/video/345112810?autoplay=1&loop=1&autopause=0&background=1" width="640" height="476" frameborder="0"></iframe>
</div>