{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}

{% section 'page-mochilas-banner' %}
{% section 'page-mochilas-text-image' %}
{% section 'page-mochilas-image-text' %}
{% section 'page-mochilas-columns' %}

<div class="index-page-embeded-video index-page-embeded-video--big">
    <iframe src="https://player.vimeo.com/video/327238968?autoplay=1&loop=1&autopause=0&background=1" width="640" height="476" frameborder="0"></iframe>
</div>