{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<!-- /templates/page.sustainability.liquid -->
<!-- <div class="wrapper page-margin">
    <div class="grid">
        <div class="grid__item large--two-thirds push--large--one-sixth">
            <h1 class="text-center h2">{% comment %}ly_code_replace_for_[ page.title ]_begin{% endcomment %}{% include 'ly-title' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h1>
            <div class="rte">
                {% comment %}ly_code_replace_for_[ page.content ]_begin{% endcomment %}{% include 'ly-content' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
            </div>
        </div>
    </div>
</div> -->
<!--Old html, enter with https://lautre-sac.myshopify.com/admin/pages/9560817711 : -->
<!-- <div style="text-align: center;"></div>
<div style="text-align: center;"></div>
<div style="text-align: left;"></div>
<div style="text-align: center;"></div>
<div style="text-align: center;"><strong><img src="https://cdn.shopify.com/s/files/1/2784/7930/files/brown-bear-in-the-wild_4460x4460_ae398101-e28d-4710-bf67-d1d7852859c5_grande.jpg?v=1542708131" alt="" /></strong></div>
<div style="text-align: center;"><strong><ly-as-16756730>NOS IMPORTAN LOS ANIMALES</ly-as-16756730></strong></div>
<div style="text-align: center;"><ly-as-16756731>Nuestros bolsos son veganos. Nunca incorporamos materiales de origen animal en nuestros productos. Rechazamos la crueldad animal y creemos en una moda responsable, que convive en armonía con su entorno.</ly-as-16756731>  </div>
<div style="text-align: left;"></div>
<div style="text-align: center;"><img alt="" src="//cdn.shopify.com/s/files/1/2784/7930/files/wild-plants_4460x4460_1_grande.jpg?v=1542710685" style="margin-top: 50px; margin-bottom: 50px; float: none;" /></div>
<div style="text-align: left;"></div>
<div style="text-align: left;"></div>
<div style="text-align: center;"><strong><ly-as-16756732>NOS IMPORTA EL MEDIO AMBIENTE</ly-as-16756732></strong></div>
<div style="text-align: center;"><ly-as-16756733>El Tyvek®, nuestro material principal es Polietureno de Alta Densidad HDPE y por lo tanto 100% reciclable. Con un bajo contenido de aditivos, no contiene plastificantes. Su poco peso hace que se requiera menos energía y recursos. Su altísima resistencia asegura una gran durabilidad y posibilita su reutilización y reciclaje.</ly-as-16756733> </div>
<div style="text-align: center;"><img alt="" src="//cdn.shopify.com/s/files/1/2784/7930/files/69_grande.jpg?v=1542712632" style="margin-top: 50px; margin-bottom: 50px; float: none;" /></div>
<div style="text-align: left;"></div>
<div style="text-align: left;"></div>
<div style="text-align: left;"></div>
<div style="text-align: center;"><strong><ly-as-16756734>NOS IMPORTAN LAS PERSONAS</ly-as-16756734></strong></div>
<div style="text-align: center;"><ly-as-16756735>Trabajamos con talleres con un código ético que compartimos. Vamos más allá de la generación del empleo justo y buscamos partners que abran sus puertas a personas con problemas de inclusión laboral y social.</ly-as-16756735> <a href="https://lautresac.com/pages/nuestra-fabrica" title="Conoce nuestra fábrica. "><ly-as-16756736>Conoce más</ly-as-16756736> </a></div>
<div style="text-align: center;"><ly-as-16756737>Estamos comprometidos con la causa del empoderamiento femenino y por eso, además de producir en talleres que emplean a mujeres en situación de vulnerabilidad, hemos creado una beca para financiar los estudios de niñas adolescentes en un barrio humilde de Bogotá, Colombia.</ly-as-16756737> <a href="https://lautresac.com/pages/beca-lautre-sac-para-el-empoderamiento-femenino" title="Conoce nuestra beca"><ly-as-16756738>Conoce nuestra beca</ly-as-16756738> </a></div>
<div style="text-align: left;"></div>
<div style="text-align: left;"></div>
<div style="text-align: left;"></div>
<div style="text-align: left;"></div> -->

{% section 'page-sustainability-banner' %}
{% section 'page-sustainability-image-text' %}
{% section 'page-sustainability-text-image' %}
{% section 'page-sustainability-banner-2' %}
{% section 'page-sustainability-image-text-2' %}

