{% render 'preorder-now-collection-item', product: product %}
        {% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
        <div class="mlvedaform">
{% section "product" %}

</div>

	  <!--{% for option in product.options %}
  {%  if option contains 'mlveda_country' %}


{% include 'mlveda-multipricing-options' %}

{%  endif %}

{% endfor %}-->


<!--{% for option in product.options %}
  {%  if option contains 'mlveda_country' %}

{% include 'mlveda-multipricing-selectors' %}

{%  endif %}

{% endfor %}-->